<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP"
        tools:targetApi="31">
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Trip" />
        <activity android:name=".MapTabs" />
        <activity android:name=".Trip" />
        <activity android:name=".MapTabs" />
        <activity android:name=".Contract" />
        <activity android:name=".ContractTemplate" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5yymY6tx1MPCx3Kg-9yHmuqAW-zkdyJ4" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>